<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/profile.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div id="left-section">
            <span> <img id="logo" src="/Logo.jpeg">
                <h1 id="title">MEDICATION REMINDER SYSTEM</h1>
            </span>
        </div>
        <a href="signUp.html"><button id="login-button"><b>Login/Sign Up</b>
            </button></a>
    </header>
    <h1> here is the data of <%= details.userName %>
    </h1>
    <ul>
        <li><b>Contact Number =</b>
            <%=details.contactNum%>
        </li>
        <li> <b>Email =</b>
            <%=details.email %>
        </li>
        <li><b>category =</b>
            <%=details.category%>
        </li>
    </ul>
    <% if(idetails) {%>
        <h2>Data of medication(infant)</h2>
        <ul>
            <li><b>Vaccine Date=</b>
                <%=idetails.vaccineDate%>
            </li>
            <li> <b>Vaccine Name =</b>
                <%=idetails.vaccineName %>
                    </email>
            </li>
            <li><b>Medicine Name =</b>
                <%=idetails.medicineName%>
            </li>
            <li>
                <b>Days =</b>
                <%=idetails.days%>
            </li>
            <li>
                <b>Slots =</b>
                <%=idetails.slots%>
            </li>
        </ul>
        <%} %>

            <% if(odetails) {%>
                <h2>Data of medication(Oldaged)</h2>
                <ul>
                    <li><b>Visit Date=</b>
                        <%=odetails.visitDate%>
                    </li>
                    <li> <b>Doctor Name=</b>
                        <%=odetails.doctorName %>

                    </li>
                    <li><b>Medicine Name =</b>
                        <%=odetails.medicineName%>
                    </li>
                    <li>
                        <b>Days =</b>
                        <%=odetails.days%>
                    </li>
                    <li>
                        <b>Slots =</b>
                        <%=odetails.slots%>
                    </li>
                </ul>
                <%} %>

                    <% if(pdetails) {%>
                        <h2>Data of medication(Pregnancy)</h2>
                        <ul>
                            <li><b>Vaccine Date=</b>
                                <%=pdetails.vaccineDate%>
                            </li>
                            <li> <b>Vaccine Name =</b>
                                <%=pdetails.vaccineName %>
                                    </email>
                            </li>
                            <li> <b>Doctor Name=</b>
                                <%=pdetails.doctorName %>

                            </li>
                            <li><b>Medicine Name =</b>
                                <%=pdetails.medicineName%>
                            </li>
                            <li>
                                <b>Days =</b>
                                <%=pdetails.days%>
                            </li>
                            <li>
                                <b>Slots =</b>
                                <%=pdetails.slots%>
                            </li>
                        </ul>
                        <%} %>
                            <% if(gdetails) {%>
                                <h2>Data of medication(General)</h2>
                                <ul>

                                    <li><b>Medicine Name =</b>
                                        <%=gdetails.medicineName%>
                                    </li>
                                    <li>
                                        <b>Days =</b>
                                        <%=gdetails.days%>
                                    </li>
                                    <li>
                                        <b>Slots =</b>
                                        <%=gdetails.slots%>
                                    </li>
                                </ul>
                                <%} %>
</body>

</html>