<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/profile.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div id="left-section">
            <span> <img id="logo" src="/Logo.jpeg">
                <h1 id="title">MEDICATION REMINDER SYSTEM</h1>
            </span>
        </div>
        <a href="signUp.html"><button id="login-button"><b>Login/Sign Up</b>
            </button></a>
    </header>
    <h1> here is the data of <%= userName %>
    </h1>
    <ul>
        <li><b>Contact Number =</b>
            <%=contactNum%>
        </li>
        <li> <b>Email =</b>
            <%=email %>
                </email>
        </li>
        <li><b>category =</b>
            <%=category%>
        </li>
    </ul>
    <% if(idetails!==null) {%>
        <h1>Data of medication(infant)</h1>
        <ul>
            <li><b>Vaccine Date=</b>
                <%=vaccineDate%>
            </li>
            <li> <b>Vaccine Name =</b>
                <%=vaccineName %>
                    </email>
            </li>
            <li><b>Medicine Name =</b>
                <%=medicineName%>
            </li>
            <li>
                <b>Days =</b>
                <%=days%>
            </li>
            <li>
                <b>Slots =</b>
                <%=slots%>
            </li>
        </ul>
        <%} %>
</body>

</html>